
@{
    ViewBag.Title = "Index";
}

<i><h1 style="text-align:center">Bienvenido al Portal Administrativo</h1></i>

<center><img src="https://www.berdinodiaz.com/wp-content/uploads/2019/05/errores-en-patios-delanteros.jpg" width="800px" height="450px" /></center>


